.Accordian {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: aliceblue;
}
.Accordian__box {
  background-color: #803d3b;
  padding: 8px 20px;
  margin: 10px;
}
.Accordian__cards {
  width: 40%;
  font-size: 22px;
}
.Accordian__cards__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Accordian__cards__question button {
  height: 24px;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.15s ease, fill 0.15s ease;
  &:hover {
    background-color: #fcdc2a;
  }
}
